
.favorites-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .favoritesCard {
    margin: 10px; 
    width: calc(25% - 20px); 
    text-align: center;
  }
  
  .imgcard {
    max-width: 100%;
    height: auto;
  }
  