
  .topRatedCard {
    width: 200px; 
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px; 
    overflow: hidden; 
  }
  
  .topRatedCard img {
    width: 100%; 
    height: auto; 
    display: block; 
    border-radius: 8px 8px 0 0; 
  }
  

  .topRatedCard h2 {
    margin: 10px 0;
    font-size: 16px;
  }
  
 
  .topRatedCard button {
    background-color: #b8bcc0; 
    color: #fff;
    border: none; 
    padding: 8px 12px; 
    margin-top: 10px; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 14px; 
  }

  .topRatedCard button:last-child {
    background-color: #545755; 
    margin-right: 10px; 
  }
  
  .topRatedCard button:last-child:hover {
    background-color: #111211; 
  }
  
  .showMore{
    color: white;
  }