.topRated {
        display: flex;
        justify-content: space-between; /* Para distribuir el espacio entre las películas */
        flex-wrap: nowrap; /* Evitar que las películas se envuelvan a la siguiente línea */
}

